<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<header th:insert="~{blocks/header :: header}"></header>
<body>
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Результаты пользователя <span
                                th:text="${resultTest.telegramUser.name}"/> <span
                                th:text="${resultTest.telegramUser.surname}"/></p>
                        <p class="fs-5 "><b>Тест: </b><a th:href="|/test/${resultTest.test.id}" th:text="${resultTest.test.name}"/>
                        <p class="fs-5"><b>Время на тест: </b><span th:text="${resultTest.test.timeActiv}"/></p>
                        <p class="fs-5"><b>Всего вопросов: </b><span th:text="${resultTest.test.countQuestion}"/></p>
                        <p class="fs-5"><b>Набранно баллов: </b><span th:text="${resultTest.ball}"/> из <span th:text="${resultTest.test.maxBall}"/></p>
                        <p class="fs-5"><b>Тест пройден за: </b><span th:text="${resultTest.getTimeOnTest()}"/></p>
                       <br> <hr class="mt-1 mb-1"/><br>
                        <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Ответы пользователя</p>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item" th:each="el, state : ${resultTest.answerFromTelegramUserList}"
                                 th:value="${state.index}">
                                <h2 class="accordion-header" th:id="flush-heading + ${state.index}">
                                    <div class="row">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse"
                                            th:data-bs-target="|#flush-collapse${state.index}|"
                                            aria-expanded="false" th:aria-controls="flush-collapse + ${state.index}">

                                            <div th:text="${el.question.text}" class="col-11"/>
                                            <b class="col-1">
                                                <span
                                                    th:text="${el.ballBehindQuestion}"/>/<span
                                                    th:text="${el.question.ball}"/>
                                            </b>
                                    </button>
                                    </div>
                                </h2>
                                <div th:id="flush-collapse + ${state.index}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="accordion-body">
                                            <ol class="list-group list-group-numbered">
                                                <span th:if="!${#strings.equals(el.question.typeAnswerOptions, 'FREE_ANSWER')}">
                                                    <span th:each="allAnswer : ${el.getAnswerWhithSelect()}">
                                                         <li th:if="${allAnswer.selected && allAnswer.answer.corrected}"
                                                             class="list-group-item correct-select"
                                                             th:text="${allAnswer.answer.text}"></li>

                                                            <li th:if="${allAnswer.selected && !allAnswer.answer.corrected}"
                                                                class="list-group-item uncorrect-select"
                                                                th:text="${allAnswer.answer.text}"></li>

                                                             <li th:if="${!allAnswer.selected && allAnswer.answer.corrected}"
                                                                 class="list-group-item correct-no-select"
                                                                 th:text="${allAnswer.answer.text}"></li>

                                                            <li th:if="${!allAnswer.selected && !allAnswer.answer.corrected}"
                                                                class="list-group-item"
                                                                th:text="${allAnswer.answer.text}"></li>

                                                    </span>
                                                </span>
                                                <span th:if="${#strings.equals(el.question.typeAnswerOptions, 'FREE_ANSWER')}">
                                                    <span><b>Ответ пользователя: </b></span><span th:text="${el.freeAnswer}"/>
                                                     <form th:action="@{/result/{id}(id = ${resultTest.id})}" method="post" class="row"
                                                           id="formTest">
                                                         <label class="form-label col-10 fs-6"><b>Обновите балл, если это необходимо: </b></label>
                                                        <input name="ballFree"  type="number" min="0" th:max="${el.question.ball}"  class="form-control col"
                                                               th:value="${el.ballBehindQuestion}" style="width: 20%"/>
                                                          <input hidden name="index"  type="number"  class="form-control" th:value="${state.index}"
                                                                 style="width: 20%"/>
                                                         <button type="submit" class="btn btn-primary col">Обновить</button>
                                                     </form>
                                                </span>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/freeAnswerSaveBall.js"></script>
</body>
</html>