<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title th:text="${test.name}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="../static/css/main.css" rel="stylesheet">
</head>
<header th:insert="~{blocks/header :: header}"></header>
<body>
<div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
            <div class="card text-black" style="border-radius: 25px;">
                <div class="card-body p-md-5">
                    <div class="row justify-content-center">
                        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" ><span th:text="${test.name}"/><span class="text-success" th:if="${test.activ}"> - активирован</span></p>
                        <div class="fs-5"><b>Дата создания: </b><span
                                th:text="${test.getFormatedDataCreated()}"></span></div>
                        <div class="fs-5"><b>Время на тест: </b><span
                                th:text="${test.timeActiv}"></span></div>
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item" th:each="el : ${questions}" th:value="${el.id}">
                                <h2 class="accordion-header" th:id="flush-heading + ${el.id}">
                                    <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" th:data-bs-target="|#flush-collapse${el.id}|"
                                            aria-expanded="false" th:aria-controls="flush-collapse + ${el.id}">
                                        <p th:text="${el.text}"/>
                                    </button>
                                </h2>
                                <div th:id="flush-collapse + ${el.id}" class="accordion-collapse collapse"
                                     data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <div class="accordion-body">
                                            <ol class="list-group list-group-numbered">
                                                    <span th:each="ans : ${el.answerList}" th:switch="${ans.corrected}">
                                                    <li th:case="false" class="list-group-item"
                                                        th:text="${ans.text}"></li>
                                                        <li th:case="true" class="list-group-item active"
                                                            aria-current="true" th:text="${ans.text}"></li>
                                                    </span>
                                            </ol>
                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                        <div th:if="!${test.activ}">
                        <form th:action="@{/test/{testId}(testId = ${test.id})}" method="post"
                              class="mx-1 mx-md-4">
                            <p class="text-center h3 fw-bold mb-5 mx-1 mx-md-4 mt-4">Активация теста</p>
                            <p class="h5 fw-bold mb-5 mx-1 mx-md-4 mt-4">Группы для отправки теста</p>
                            <div class="accordion accordion-flush" id="accordionFlushExample1">
                                <div class="accordion-item" th:each="el : ${groupList}" th:value="${el.id}">
                                    <h2 class="accordion-header" th:id="flush-heading + ${el.id}">
                                        <button class="accordion-button collapsed" type="button"
                                                data-bs-toggle="collapse" th:data-bs-target="|#flush-collapse${el.id}|"
                                                aria-expanded="false" th:aria-controls="flush-collapse + ${el.id}">
                                            <p th:text="${el.name}"/>
                                        </button>
                                    </h2>
                                    <div th:id="flush-collapse + ${el.id}" class="accordion-collapse collapse"
                                         data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">
                                            <div class="accordion-body">
                                                <ol class="list-group list-group-numbered">
                                                    <ul class="list-group">
                                                        <li th:each="tgUser : ${el.telegramUsers}" class="list-group-item"><input

                                                            th:text="${tgUser.name}" class="form-check-input me-1"
                                                            type="checkbox"  th:name="checked" th:value="${tgUser.chatId} "> <span th:text=" ${tgUser.surname}"/>
                                                        </li>
                                                    </ul>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>

                            <div class="form-outline flex-fill mb-0">
                                <input type="text" name="title" id="form3Example1c" class="form-control" />
                                <label class="form-label" for="form3Example1c">Введите название тестирования</label>
                                <p class="text-danger" th:if="${error != null}" th:text="${error.message}">
                            </div>
                                <div class="form-check">
                                    <input class="form-check-input"  th:name="mixQ" type="checkbox" th:checked="test.mixQuestions" id="flexCheckDefault">
                                    <label class="form-check-label"   for="flexCheckDefault">
                                        Перемешать вопросы
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" th:name="mixA" type="checkbox" th:checked="test.mixAnswers" id="flexCheckChecked">
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Перемешать варианты ответов
                                    </label>
                                </div>

                            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                <button type="submit" class="btn btn-primary btn-lg">Активировать тест</button>
                            </div>
                        </form>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="../static/js/questionModal.js"></script>
<script type="text/javascript" src="../static/js/questionFilter.js"></script>
</body>
</html>

