<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
  <meta charset="UTF-8">
  <title>Аналитика теста</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="../static/css/main.css" rel="stylesheet">
</head>
<header th:insert="~{blocks/header :: header}"></header>
<body>
<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <table th:if="${analysisQuestionList.size} > 0" class="table">
              <thead>
              <tr>
                <th scope="col">Вопрос</th>
                <th scope="col">Средний балл</th>
                <th scope="col">Процент выполнения</th>
                <th scope="col">Самые частые ответы</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="analiysisQuestion : ${analysisQuestionList}">
                <td th:text="${analiysisQuestion.baseQuestion.text}"></td>
                <td th:text="${analiysisQuestion.avgBall}"></td>
                <td th:text="${analiysisQuestion.percentCorrected}"></td>
                <td>
        <span
            th:each="answer, state:${analiysisQuestion.mostFrequentAnswers}">
        <span th:text="${answer.text}"/>
        <span
            th:if="${state.index} !=  ${analiysisQuestion.mostFrequentAnswers.size}-1">,</span>
    </span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>